body {
    padding: 0;
    margin: 0;
    background: #34495e;
}
.box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.box span {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: inline-block;
    margin: 0 6px;
}
.s1 {
    background: #cf1703;
    animation: s1 1s infinite;
}
.s2 {
    background: #e2f107;
    animation: s2 1s infinite;
}
.s3 {
    background: #04f518;
    animation: s3 1s infinite;
}
@keyframes s1 {
    25% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
    75% {
        transform: scale(1);
    }
    100% {
        transform: scale(1);
    }
}
@keyframes s2 {
    25% {
        transform: scale(1);
    }
    50% {
        transform: scale(1);
    }
    75% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}
@keyframes s3 {
    25% {
        transform: scale(1);
    }
    50% {
        transform: scale(1);
    }
    75% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.2);
    }
}