body {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #333;
}
div {
    width: 1350px;
    height: 640px;
    background: url(../images/image.jpg) center no-repeat;
    background-size: cover;
    clip-path: polygon(0% 20%, 60% 20%, 60% 0%, 100% 50%, 60% 100%, 60% 80%, 0% 80%);
    animation: clips 3s ease infinite;
}
@keyframes clips {
    50% {
        clip-path: polygon(40% 0%, 40% 20%, 100% 20%, 100% 80%, 40% 80%, 40% 100%, 0% 50%);
    }
}